* {
    box-sizing: border-box;
    margin: 0;
}

html, body {
    overflow: hidden;
    margin: 0px;
}

.navbar {
    width: 100vw;
    height: 37pt;
    background-color:#fcfcfc; 
    display:flex;
    align-items: center;
    font-size: 17px;
    font-family:'helvetica';
    font-weight: 600;
    border-top: 1px solid rgb(255, 212, 173);
    border-bottom: 1px solid rgb(255, 212, 173);
}

.admin{
   padding-top: 12vh;
}

.navbar a {
    text-decoration: none;
    color: rgba(255, 102, 0, 0.966);
    margin:30pt;
}

.navbar a:hover{
    color: rgb(255, 212, 173);
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}


.about,
.home {
    background-image: url('./Photos/jetski.png');
    background-size: cover;
    position: relative;
    height: 100vh;
}

.homeContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color:  rgba(5, 32, 36, 0.424);
}

.logIn{
    display: block;
    height: 100vh;
    width: 50vw;
    border-radius: 7px;
}

.loginForm{
    height: 90%;
}

.login2{
    height:auto;
}

.signupButton{
   margin-top:3pt;
   width:90pt;
   height:24pt;
   font-size:12pt;
}

.loginButton{
   width:90pt;
   height:24pt;
   font-size:12pt;
}

.signUpAdmin{
    display: block;
    height: 230pt;
    width: 205pt;
    border: 3px solid  rgba(0, 23, 32, 0.425);
    border-radius: 7px;
    background-color: rgba(5, 32, 36, 0.767);
}

.logInA{
    border: 3px solid  rgba(0, 23, 32, 0.425);
    border-radius: 7px;
    background-color: rgba(5, 32, 36, 0.767);
    height:200pt;
    width:200pt;
}

.bookingContainer2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    height: 100vh;
    width: 100vw;
    border: 3px solid rgba(0, 33, 48, 0.527);
    border-radius:3px;
    background-color: rgba(5, 32, 36, 0.705);
    padding-bottom: 5pt;
    padding-top: 5px;
}

.bookingContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    height: 100vh;
    width:100vw;
    border: 3px solid rgba(0, 33, 48, 0.527);
    border-radius:3px;
    background-color: rgba(5, 32, 36, 0.705);
    padding-top:15pt;
}

.booking2{
    height: 80vh;
    padding:15px;
    overflow: auto;
    max-height: 100vh;
}

.booking{
    width: 100%;
    height: auto;
    font-size: 16px;
}

.p2{
    margin:4px;
    font-size: 19px;
}

.p3{
    margin-top: 10px;
    margin-bottom:5px;
    color:red;
    font-size:25px;
}

.time1{
    color: red;
}

.edit{
    display:inline-flex;
    align-items: center;
    justify-content: center;
    margin: 26px;
    height: 29px;
    width: 170px;
    border: 1px solid rgb(18, 56, 9);
    border-radius: 3px;
    background-color: rgb(255, 214, 177);
    color: black;
    padding-left: 5px;
}

.editButton{
    width: 60px;
    height: 28px;
    border-radius: 4px;
    border:2px solid rgb(30, 80, 35);
    background-color: rgb(57, 116, 88);
    color: rgb(241, 241, 241);
    margin:10px;
}

.p{
    color: rgb(255, 227, 200);
    font-family: "verdana";
    margin:auto;
    margin-right: 20px;
    margin-left: 10px;
    font-size: 22px;
    font-weight: 600;
}

p{
    color: rgb(255, 224, 195);
    font-family: "verdana";
    font-size: 19px;
    font-weight: 900;
    text-align: center;
}

h4{
    text-align: center;
    color:rgba(255, 213, 174, 0.904);
    font-family: "helvetica";
    margin-top:20px;
    margin-bottom: 12pt;
    font-size:24px;
    font-weight: 900;
}


@keyframes fade{
from {opacity: 0}
to {opacity: 1}
}

h2{
    text-align: center;
    color:  rgba(255, 115, 0, 0.986);
    border-radius:15px;
    font-family: "helvetica";
    margin-bottom: 4vh;
    font-weight: 900;
    font-size: 25px;
    animation: fade 3s;
    margin-bottom:10vh;
}

.rent{
    text-align: center;
    color:  rgba(255, 224, 195, 0.966);
    border-radius:15px;
    padding:15px;
    font-family: "helvetica";
    margin-top: 2vh;
    margin-bottom: 0pt;
    font-weight: 600;
    font-size: 20px;
    animation: fade 3s;
}

.date,
select{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 12pt;
    height: 27pt;
    width: 152pt;
    border: 2.4px solid rgb(252, 107, 10);
    background-color:rgba(30, 30, 59, 0.205);
    color:rgb(240, 219, 161);
    font-size: 15px;
    border-radius: 5px;
}

input{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top:12pt;
    height: 27pt;
    width: 152pt;
    font-size: 15px;
    border-radius: 5px;
    background-color:rgb(255, 229, 198);
}

.login1{
    width: 132pt;
    height: 23.5pt;
    border: 1px solid  rgba(2, 2, 2, 0.74);
    background-color:  rgb(255, 235, 209);
    color:black;
    border-radius: 3px;
    margin-top:7pt;
    padding-left:3.5pt;
}

.jetskiWrap{
    display:flex;
    align-items: center;
    justify-content: center;
    margin:auto;
    margin-top: 15pt;
    margin-bottom: 30pt;
    height: 102pt;
    width: 525pt;
}

.jetskiWrap2{
    height: 102pt;
    width: 132pt;
    margin:auto;
}

.loading{
    display:flex;
    align-items: center;
    justify-content: center;
    margin:auto;
    width:100pt;
    height:100pt;
}

.chooseJet{
    font-size:14pt;
    margin-top:15pt;
    color: rgb(255, 220, 189)
}

.jetski1{
    background-image: url('./Photos/bombardier.jpg');
    background-size: contain;
    background-position: center;
    height: 100pt;
    width:130pt;
    margin:auto;
    cursor:pointer;
    border-radius:5px;
}

.jetski2{
    background-image: url('./Photos/kawasaki.jpg');
    background-size: contain;
    background-position: center;
    height: 100pt;
    width:130pt;
    margin:auto;
    cursor: pointer;
    border-radius:5px;
}

.jetski3{
    background-image: url('./Photos/honda.jpg');
    background-size: contain;
    background-position: center;
    height: 100pt;
    width:130pt;
    margin:auto;
    cursor: pointer;
    border-radius:5px;
}


.jetski3:hover,
.jetski2:hover,
.jetski1:hover{
    height:102pt;
    width:132pt;
 }

.selected{
    background-color: rgba(4, 28, 29, 0.904);
    height: 100pt;
    width: 130pt;
    border: 2.4px solid rgb(252, 107, 10);
    opacity:0;
    border-radius:5px;
}

.selected:hover{
    height: 102pt;
    width: 132pt;
 }

 .p1{
    font-size:10pt;
    color:rgb(173, 69, 0);
    position:absolute;
    margin-left:2pt;
    margin-top:1pt;
    pointer-events: none;
 }


 .button,
 button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:auto;
    margin-bottom: 0px;
    margin-top: 14pt;
    height: 25pt;
    width: 94pt;
    border: 2px solid  rgba(255, 105, 18, 0.822);
    background-color:rgba(0, 27, 29, 0.972);
    border-radius: 3px;
    font-size: 17px;
    font-weight: 600;
    color:rgba(255, 208, 164, 0.856);
    cursor: pointer;
}

.adminButton{
    border: 1px solid rgba(0, 54, 27, 0.952);
    border-radius:5px;
    margin-right:3%;
    margin-top:-30pt;
    margin-bottom:50pt;
    height:23pt;
    width:70pt;
    font-size:11pt;
    cursor: pointer;
}

.button4{
    margin-top: 10px;
    height: 25pt;
    width: 95pt;
}

.deleteButton{
    background-color: rgba(153, 0, 0, 0.87);
    color:  rgb(255, 175, 101);
    width: 56px;
    height: 28px;
    margin: 10px;
    font-size: 12px;
    border-radius: 5px;
    border: 2px solid rgb(51, 22, 22);
    display: inline;
}

.deleteButton2{
    background-color: rgba(133, 0, 0, 0.87);
    color: rgb(255, 161, 98);
    width: 34pt;
    height: 20pt;
    margin-top: 30pt;
    margin-left: 10px;
    font-size: 8px;
    border-radius: 2px;
    border: 2px solid rgba(88, 0, 0, 0.801);
    cursor: pointer;
}

.admin{
        background-color: #142b2bf1;
        height: 100vh;
        width: 100%;
        display:flex;
        align-items: flex-start;
        justify-content: center;
}

.bookingList {
    border: 2px solid rgba(1, 31, 32, 0.822);
    border-radius: 7px;
    background-color: rgba(12, 36, 41, 0.918);
    color:rgb(255, 232, 210);
    font-family: verdana;
    margin-top:20px;
    margin-bottom: 0%;
    width: 100%;
    height: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bookingList2{
    width: 100%;
    height: auto;
}

.bookingForm2{
    height:auto;
    display:flex;
    align-items: center;
    justify-content: center;
    height: 52px;
    width: 100%;
    border: 2px solid rgb(1, 31, 32);
    border-radius:7px;
    background-color: rgba(3, 29, 31, 0.781);
    position: relative;
    margin-top: 20px;
}

.bookingForm{
    height:70.5vh;
}
.homeBooking{
    border: 2px solid rgb(255, 213, 173);;
    border-radius: 5px;
    margin: 15px;
    padding: 10px;
}

.h1{
    text-align: center;
    font-family: verdana;
    font-size:27px;
    color:rgb(226, 102, 0);
    margin-bottom: 20px;
}

.contact{
    background-size:cover;
    display:block;
    position: fixed;
    background-color:#142b2bf1;
    height: 100vh;
    display:block;
    width:100vw;
}

.adminPortal2{
    background-color: #142b2bf1;
    height: 100vh;
}

.adminPortal3{
    height: 90vh;
    padding: 20px;
    overflow: scroll;
}

.about2{
    height:100vh;
    width:100vw;
    background-color: rgba(5, 32, 36, 0.424);
}

.aboutText{
     color: #ffeac3ec; 
     font-family: verdana;
     margin-left: 700px;
     width: 700px;
     margin-top: 20vh;
     position:absolute;
}

.aboutText2{
    color: #fff0bf; 
    font-family: verdana;
    margin:auto;
    width: auto;
    margin-top: 30vh;
    text-align: center;
}

.buttonS{
    margin-top:10pt;
    border: 0px;
}
.buttonS2{
    margin-top:15pt;
    border: 0px;
}

@media only screen and (max-width: 724px) {

    
    
    .navbar{
        font-size: 16px;
        align-items: center;
    }

    .booking2{

        height: 100%;
    }

    .date,
    select,
    input{
        width:180px;
        height: 30px;
        margin: auto;
        margin-top: 10px;
    }
    
    .login1{
        width: 160px;
        height: 32px;
    }
    
    p{
        font-size: 19px;
    }
    
    .about{
       display:flex;
       align-items: flex-start;
       justify-content: center;
       position: relative;
       padding:10px;
    }


    .aboutText2,
    .aboutText{
      margin:auto;
      width:auto;
      height: auto;
      margin-top: 30px;
    }

   
    .editContainer{
       display:flex;
       flex-direction: column;
       align-content: center;
       justify-content: center;
       margin: auto;
       height: auto;
       width: auto;
    }
    
    .bookingForm2{
        display:flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        margin: auto;
        margin-top:15px;
        height: 17vh;
        
    }

    .edit{
        width: 100%;
        margin: auto;
        font-size: 7px;
     }

     
    .editButton{
         width:30px;
         font-size: 10px;
         margin:1%
    }
    
    .p{
       font-size:  0px;
    }
    
    .editContainer{
        margin-bottom: 350px;
    }
    
    .bookingList{
        font-size: 15px;
    }
    
    .adminContainer{
        height:100%;
    }
    
    .deleteButton{
        width: 57px;
        height: 30px;
        margin: 10px;
        font-size: 12px;
    }
    
    .deleteButton2{
        width: 47px;
        height: 32px;
        font-size: 7px;
        margin-top:10px;
    }
    
    .loginButton,
    .signupButton{
        position: relative;
        margin: auto;
        margin-top:10px;
        height: 33px;
        width: 60%;
    }

    .p2{
        font-size:12px;
        margin-top: 5px;
    }

    .p3{
        font-size:17px;
    }
    
    h2{
        font-size: 25px;
        margin-top: 10px;
        margin-bottom:10px;
        width:100%;
        color: rgb(255, 115, 0);
    }

    h4{
        font-size:22px;
    }
    
}




