* {
    box-sizing: border-box;
    margin: 0;
}

html, body {
    overflow: hidden;
    margin: 0px;
}


.navbar {
    width: 100vw;
    height: 9vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:  #142b2bf1; 
    font-size: 23px;
    font-family:'verdana';
    font-weight: 600;
}


.admin{

    padding-top: 12vh;
}


.navbar a {
    text-decoration: none;
    color: rgba(255, 212, 172, 0.87);
}



.navbar a:hover{
   
    color: rgb(255, 123, 0);
}



.home {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    justify-content: flex-start;
    align-items: flex-end;
}



.about,
.home {
    background-image: url('./Photos/jetski.png');
    background-size: cover;
    position: relative;
    height: 100vh;
    
}



.logIn{
    display: block;
    height: 37vh;
    width: 20vw;
    border: 3px solid  rgba(10, 57, 63, 0.425);
    border-radius:4px;
    background-color:  rgba(5, 32, 36, 0.767);
    margin-left: 8vw;
    animation: fade 0.2s;
}



.loginForm{
    height: 90%;
}


.signupButton{
   margin-top:-10vh;
}


.signUp {
    display: block;
    height: 37vh;
    width: 20vw;
    border: 3px solid  rgba(10, 57, 63, 0.425);
    border-radius:3px;
    background-color: rgba(5, 32, 36, 0.767);
    margin-left: 8vw;
}



.bookingContainer2{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    height: 70vh;
    width: 25vw;
    border: 3px solid rgba(0, 33, 48, 0.527);
    border-radius:3px;
    background-color: rgba(5, 32, 36, 0.705);
    margin-right: 23vw;
    margin-top: 5vh;
    padding-bottom: 15px;
    padding-top: 5px;
   
}



.bookingContainer{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 70vh;
    width: 25vw;
    border: 3px solid rgba(0, 33, 48, 0.527);
    border-radius:3px;
    background-color: rgba(5, 32, 36, 0.705);
    margin-right: 23vw;
    margin-top: 6vh;
}



.booking2{
    height: 550px;
    padding:15px;
    overflow: auto;
    max-height: 100vh;
}


.booking{
    width: 100%;
    height: auto;
    font-size: 19px;
}


.p2{
    margin:4px;
    font-size: 21px;
}


.p3{
    margin-top: 10px;
    margin-bottom:5px;
    color:red;
    font-size:30px;
}


.time1{
    color: red;
}


.edit{
    display:inline-flex;
    align-items: center;
    justify-content: center;
    margin: 26px;
    height: 29px;
    width: 170px;
    border: 1px solid rgb(18, 56, 9);
    border-radius: 3px;
    background-color: rgb(255, 214, 177);
    color: black;
    padding-left: 5px;
}


.editButton{
    width: 60px;
    height: 28px;
    border-radius: 7px;
    border:2px solid rgb(41, 105, 47);
    background-color: rgb(69, 124, 98);
    color: rgb(241, 241, 241);
    margin:10px;
}



.p{
    color: rgb(245, 217, 191);
    font-family: "verdana";
    margin:auto;
    margin-right: 20px;
    margin-left: 10px;
    font-size: 22px;
    font-weight: 600;
}



p{
    color: rgb(243, 204, 168);
    font-family: "verdana";
    font-size:23px;
    font-weight: 900;
    text-align: center;
}


h4{
    text-align: center;
    color: rgba(255, 206, 161, 0.918);
    font-family: "verdana";
    margin-top:20px;
    font-size:26px;
    font-weight: 900;
    
}


@keyframes fade{
from {opacity: 0}
to {opacity: 1}
}



h2{
    text-align: center;
    color: rgb(165, 79, 29);
    background-color:rgba(3, 22, 20, 0.075);
    border-radius:15px;
    padding:15px;
    font-family: "verdana";
    margin-top:9vh;
    margin-bottom: 7vh;
    margin-right: 13vw;
    font-weight: 900;
    font-size: 32px;
    animation: fade 3s;
}



.date,
select{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 2vh;
    height: 4.3vh;
    width: 14vw;
    border: 2.4px solid rgba(255, 225, 176, 0.87);
    background-color:rgba(30, 30, 59, 0.205);
    color:rgb(240, 219, 161);
    font-size: 15px;
    border-radius: 5px;
}



input{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 2vh;
    height: 4.3vh;
    width: 14vw;
    font-size: 15px;
    border: 2.4px solid rgb(253, 231, 195);
    border-radius: 5px;
    background-color: rgba(255, 228, 196, 0.938);
   
}

.login1{
    width: 12vw;
    height: 4vh;
    border: 1px solid  rgba(1, 24, 20, 0.835);
}


.button,
 button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:auto;
    margin-bottom: 0px;
    margin-top: 1.7vh;
    height: 33px;
    width: 9vw;
    border: 2px solid   rgba(9, 19, 17, 0.233);
    background-color:rgba(0, 29, 25, 0.972);
    border-radius: 2px;
    font-size: 17px;
    font-weight: 600;
    color:rgba(255, 208, 164, 0.856);
}



.adminButton{
    border: 2px solid rgba(255, 123, 0, 0.911);
    border-radius:3px;
    margin-top:3%
}



.button4{
    margin-top: 10px;
    height: 36px;
    width: 9vw;
}


.deleteButton{

    background-color: rgba(153, 0, 0, 0.87);
    color:  rgb(255, 175, 101);
    width: 56px;
    height: 28px;
    margin: 10px;
    font-size: 12px;
    border-radius: 5px;
    border: 2px solid rgb(51, 22, 22);
    display: inline;
}


.deleteButton2{

    background-color: rgba(133, 0, 0, 0.87);
    color: rgb(255, 220, 197);
    width: 3.6vw;
    height: 3.7vh;
    margin-top: 6.5vh;
    margin-left: 10px;
    font-size: 9px;
    border-radius: 2px;
    border: 2px solid rgba(88, 0, 0, 0.801);
   
}


.admin{
        
        background-color: #142b2bf1;
        height: 100vh;
        width: 100%;
        display:flex;
        align-items: flex-start;
        justify-content: center;
}



.bookingList {
    border: 2px solid rgb(255, 123, 0);
    border-radius: 7px;
    background-color: rgba(12, 36, 41, 0.918);
    color:rgb(255, 232, 210);
    font-family: verdana;
    font-size: 20px;
    margin-top:20px;
    margin-bottom: 0%;
    width: 100%;
    height: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}



.bookingList2{
    width: 100%;
    height: auto;
}


.bookingForm2{
    height:auto;
    display:flex;
    align-items: center;
    justify-content: center;
    height: 52px;
    width: 100%;
    border: 2px solid rgb(224, 108, 0);
    border-radius:7px;
    background-color: rgba(3, 29, 31, 0.781);
    position: relative;
    margin-top: 20px;
   
}



.homeBooking{
    border: 3px solid rgb(255, 213, 173);;
    border-radius: 5px;
    margin: 15px;
    padding: 10px;
}



.h1{
    text-align: center;
    font-family: verdana;
    font-size:45px;
    color:rgb(226, 102, 0);
    margin-bottom: 20px;
}


.contact{
    background-image:url('./Photos/admin.jpeg') ;
    background-size:cover;
    display:block;
    position: fixed;
    background-color: rgb(36, 53, 49);
    height: 100vh;
    display:block;
    width:100vw;
}



.adminPortal2{
    background-color: #142b2bf1;
    height: 100vh;
    padding: 20px;
    overflow: scroll;
    
}



.aboutText{
     color: #1c3a3a; 
     font-family: verdana;
     margin-left: 700px;
     width: 700px;
     margin-top: 40px;
     position:absolute;
}



.aboutText2{
    color: #1c3a3a; 
    font-family: verdana;
    margin:auto;
    width: auto;
    margin-top: 40px;
    text-align: center;
}



@media only screen and (max-width: 1024px) {

    .navbar{
        font-size: 16px;
    }

    
    .bookingContainer{
        margin:auto;
        margin-top: 40px;
        width:auto;
        padding:10px;
        height: 450px;
    
    }

    
    .bookingContainer2{
        margin:auto;
        margin-top: 40px;
        width:auto;
        padding:10px;
        height: 400px;
    }
    
    .booking2{

        height: 100%;
    }

    
    .date,
    select,
    input{
        width:180px;
        height: 30px;
        margin: auto;
        margin-top: 10px;
    }
    
    
    .login1{
        width: 160px;
        height: 32px;
    }
    
    
    p{
        font-size: 19px;
    }
    
    
    .login{
        width:auto;
    }

    
    .home{
        display:flex;
        align-items: center;
        justify-content: flex-start;
        position: relative;
        height: auto;
        padding-bottom: 30px;
    }
    
    
    .about{
       display:flex;
       align-items: flex-start;
       justify-content: center;
       position: relative;
       padding:10px;
    }


   .aboutText2,
   .aboutText{
      margin:auto;
      width:auto;
      height: auto;
      margin-top: 30px;
    }

   
   .editContainer{
       display:flex;
       flex-direction: column;
       align-content: center;
       justify-content: center;
       margin: auto;
       height: auto;
       width: auto;
    }
    


    .bookingForm2{
        display:flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        margin: auto;
        margin-top:15px;
        height: 17vh;
        
    }

     
    .edit{

        width: 100%;
        margin: auto;
        font-size: 7px;
     }

     
    .editButton{
         width:30px;
         font-size: 10px;
         margin:1%
    }
    
    
    .p{
       font-size:  0px;
    }
    
     
    .editContainer{
        margin-bottom: 350px;
    }
    
    
    .bookingList{
        font-size: 15px;
    }
    
    
    .signUp,
    .logIn{
        width:auto;
        padding:10px;
        height: auto;
        margin:auto;
        margin-bottom: 100%;
    }

     
    .homeContainer{
         width: 220px;
     }
   
    
    .adminContainer{
        height:100%;
    }
    
    
    
    .deleteButton{
        width: 57px;
        height: 30px;
        margin: 10px;
        font-size: 12px;
    }
    
    
    .deleteButton2{
        width: 47px;
        height: 32px;
        font-size: 7px;
        margin-top:10px;
    }
    

    .signupButton{
        position: relative;
        margin: auto;
        margin-top:10px;
        height: 33px;
        width: 60%;
    }

    
    .button{
        position: relative;
        margin: auto;
        margin-top:10px;
        height: 33px;
        width: 60%;
    }


    .button1{
        position: relative;
        margin: auto;
        margin-top:10px;
        height: 33px;
        width:60%;
       
    }

    
    button{
        position: relative;
        margin: auto;
        margin-top:10px;
        height: 33px;
        width: 60%;
    }


    .p2{
        font-size:12px;
        margin-top: 5px;
    }

    
    .p3{
        font-size:17px;
    }
    

    h2{
        font-size: 25px;
        margin-top: 10px;
        margin-bottom:10px;
        width:100%;
        color: rgb(255, 115, 0);
    }

    h4{
        font-size:22px;
    }
}




